body  { 
  background-color: #22244b;
}

.App { 
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 95vw;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;

  margin: 40px;
}

.cards-content { 
  height: 100%;
  width: 100%;
  margin: 10px 40px 10px 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
  flex-wrap: wrap;
}

.bottom-content { 
  display: flex;

  height: 48px;
  width: 100%;
  flex-direction: row;

  justify-content: flex-end;
  align-items: center;
}

.bottom-content div + div { 
  margin-left: 8px;
}

.show-items span {
  color: #ebe6e6;
}

.pages {
  display: flex;
}

.pages button + button { 
  margin-left: 4px;
}

.icon-content { 
  height: 48px;
  width: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #404094;

  border-radius: 50%;

  border: 0;
}

.icon-content:hover { 
  cursor: pointer;

  opacity: 0.9;

  transition: background-color 0.2s;
}

.icon-content svg { 
  color: #f8a403;
}

.icon-content[disabled] {
  opacity: 0.7;

  pointer-events: none;
  cursor: not-allowed;
}